---
    name: Create Server MC Aliases
    
    on:
      workflow_dispatch:
    
    jobs:
      backup:
        runs-on: ubuntu-latest
        steps:
          - name: Clone Repo
            uses: actions/checkout@v3
    
          - name: Install doctl
            uses: digitalocean/action-doctl@v2
            with:
              token: ${{ secrets.DO_API_KEY }}
    
          - name: Get Server IP
            run: >-
              echo "::set-output name=INSTANCE_IP::$(
                doctl compute droplet get ${{ vars.DO_INSTANCE }} --no-header --template {{.PublicIPv4}}
              )"
            id: do_instance_ip
          
          - name: Create DO Spaces Alias
            uses: appleboy/ssh-action@v1.0.0
            with:
              host: ${{ steps.do_instance_ip.outputs.INSTANCE_IP }}
              username: nia
              key: ${{ secrets.LUKA_KIU_PC_64x }}
              envs: S3_ALIAS_NAME,S3_ENDPOINT,S3_ACCESS_KEY,S3_SECRET_KEY
              script: cd /minecraft && make -E mc_alias
            env:
              S3_ALIAS_NAME: dospaces
              S3_ENDPOINT: ${{ vars.DO_SPACE_MC }}
              S3_ACCESS_KEY: ${{ secrets.DO_SPACES_ACCESS_KEY }}
              S3_SECRET_KEY: ${{ secrets.DO_SPACES_SECRET_KEY }}
    